.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}
.titel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

}
.w3-button {
height: 50px;
width: 50px;
}
.square {
  height: 50px;
  width: 50px;
  background-color: #555;
}
.space{
	height: 50px;
    width: 5px;

}
.button{
  background-color: #2D2E4C; 
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  float: center;
}